<article>

  <section class="container-post-id">
    <div class="dflex-saround">
      <h3>Post # <%= @post.id %> by <%= @post.author.name %><h3>
      <div>
        <span>Comments: <%= @post.comments_counter %></span>
        <span>Likes: <%= @post.likes_counter %></span>
      </div>
    </div>

    <div class="post-title-id">
      <h2><%= @post.title %></h2>
    </div>
  
  </section>

  <section>

  <div class="comments-container">
  Comments: 
    <div class="flex-column">
    <% @post.recent_comments.each do |comment| %>
      <span><%= comment.user.name %> : <%= comment.text %></span> 
    <% end %> 
    </div>
</div>
  </section>

  <%= link_to "New Comment", "/users/1/posts/#{@post.id}/comments/new" %>
  <%= link_to 'Like', like_post_url %>
</article>